body {
    display: flex;
    justify-content: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

section{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    height: 200px;
    width: 230px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    animation: descer 1s forwards;
    opacity: 10%;
}

input, button{
    margin: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(34, 34, 34);
    color: rgb(109, 109, 109);
}

.voltar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.qst13{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 0%;
}

@keyframes descer{
    100%{
        transform: translateY(100%);
        opacity: 100%;
    }
}
