body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aquamarine;
}

div:hover {
    animation: transform 1s forwards;
}

@keyframes transform {
    100% {
        border-radius: 0%;
        width: 200px;
        height: 100px;
    }
}