body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

div{
    width: 200px;
    height: 200px; 
    background-color: aquamarine;
    
}