body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

.caixa{
    width: 200px;
    height: 200px; 
    background-color: aquamarine;
    
}

.voltar{
    display: flex;
    align-self: end;

    border-radius: 50%;
}

