body {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

div{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: aquamarine;
    margin-left: 50px;
    animation: quicar 3s ease-in 1s forwards;
}

a{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 10%;
    left: 0%;
}

.menu{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 0%;
}

@keyframes quicar{
    10%{
        transform: translate(60px, -120px);
    }
    20%{
        transform: translate(80px, 0px);
    }
    30%{
        transform: translate(110px, -100px);
    }
    40%{
        transform: translate(130px, 0px);
    }
    50%{
        transform: translate(150px, -80px);
    }
    60%{
        transform: translate(170px, 0px);
    }
    70%{
        transform: translate(190px,-70px);
    }
    80%{
        transform: translate(210px, 0px);
    }
    100%{
        transform: translate(210px, 0px);
    }


}