body {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 53);
}

div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: mover 2s linear 1s forwards;
    background-image: url(../img/logo-ytm.png);
    background-size: cover;
}

.voltar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.qst11{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 10%;
    right: 0%;
}

.menu{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 20%;
    right: 0%;
}

@keyframes mover {
    0% {
        justify-content: center;
        align-items: center;
    }

    100% {
        transform: translate(-105vh, -45vh);
        
        width: 70px;
        height: 70px;
    }

}