body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
   
}

div{
    width: 200px;
    height: 200px; 
    background-color: aquamarine;
    
}

div:hover{
    background-color: black;
    transition: all 0.3s linear;
}