body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

div{
    width: 200px;
    height: 200px; 
    background-color: aquamarine;
    
}

div:hover{
    background-color: black;
    transition: all 0.3s linear;
}

.voltar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.qst3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 0%;
}

.menu{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 47%;
}