body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

div {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 50%;
    animation: mover 4s infinite;
}

@keyframes mover {
    100% {
        transform: translateX(500px);
    }
}