body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgb(53, 53, 53);
}

div {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    animation: aumentar 3s linear infinite;
}

.voltar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.qst8{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 25px;
    position: absolute;
    top: 0%;
    right: 0%;
}

@keyframes aumentar {
    50% {
        width: 100px;
        height: 100px;
        background-color: rgb(0, 60, 255);
    }

    100% {
        width: 200px;
        height: 200px;
        background-color: rgb(255, 251, 0);
    }
}